
.icon {
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px, 25px;
    padding-left: 30px;
}
.area {
    margin: 30px;
    padding: 20px;
    color: #444444; /* Letterkleur */
    background-color: #a7cece; /* Achtergrondkleur */
    border: 1px dashed white; /* Rand in witte stippellijn */
}

body{
    font-family: Arial sans-serif;
    font-size: 1.2em;
    margin: auto;
}

.drankjes{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1{
    color: #007e7e;
    font-size: 150%;
}

h2{
    color: #007e7e;
    font-size: 130%;
}

.specials{
    width: 25%;
    float: right;
    text-align: center;
    margin-right: 15px;
}

.info{
    width: 70%;
}

.specials article {
    border: 1px solid #007e7e; /* RGB: 0, 126, 126 */
    background-color: #a7cece
    padding: 20px;
}

.info article {
    padding: 20px;
}

article>h2.Rood{
    color: #ff3333;
}

article>h1.zwart{
    color: #444444;
}

.link:hover{
    color: saddlebrown;
}

body>footer{
    font-size: 0.6em;
    float: right;
}