/* Stijl voor alle hoofdingen */
.arial {
    font-family: Arial, sans-serif;
}

/* Stijl voor H1 */
h1 {
    font-size: 1.8em;
}

/* Stijl voor H2 */
h2 {
    font-size: 1.5em;
}

/* Stijl voor H3 */
h3 {
    font-size: 1.4em;
}

/* Stijl voor alle paragrafen */
p {
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
}

/* Stijl voor rode paragraaf */
.rood {
    color: red;
}

/* Stijl voor groene paragraaf */
.groen {
    color: green;
}

/* Stijl voor blauwe paragraaf */
.blauw {
    color: blue;
}