body{
    width: 950px;
    margin: -50px auto;
    font-family: helvetica, Arial, sans-serif;
}

header{
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    height: 200px;
    margin-top: 10px;
}

header p.titel{
    text-align: center;
    color: darkblue;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

header p{
    text-align: center;
    color: darkblue;
    font-size: 240%;
    font-weight: bold;
}

.vliegtuig{
    position: absolute;
    right: 500px;
    bottom: 550px;

}

aside{
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
}

aside h3{
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}

aside p{
    color: #666666;
    font-size: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

main{
    width: 75%;
}

.logo
{
    float: left;
    padding: 20px 20px 0px 20px;
}

.intro

{
    text-align: left;
    padding: 0px 30px 20px 140px;
}

span{
    color: blue;
    font-style: italic;
}

.gallery{
    background-color: #999999;
    padding: 20px 0px 20px 20px
}

.foto{
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px dotted #999999;
}

footer{
    background-color: #666666;
    color: white;
    line-height: 2em;
}

footer section article{
    display: inline-block;
    margin-left: 120px;

}

footer section article a:hover{
    color: red;
}

div.copyright{
    background-color: white;
    color: black;
    text-align: center;
}

